
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 1em;
}

.h1 {
  font-size: 4em;
  margin: 0.25em 0;
}

.h3 {
  font-size: 1.7em;
  margin: 0.25em 0;
}

p {
  font-size: 1em;
}

.c1 {
   font-size: 1.4em;
   color:brown;
   
}


.c2{
  font-weight:bolder
}

tr{
 text-align: center;
}

.c3{
  fill:darkslateblue
}

